.background{
	/*background: rgb(236, 240, 241);*/
	background: #ffffff;
	min-height: 100vh;
}

.background *{
	display:none;
}

*{
	font-family: 'Space Mono', monospace;
	color: #333;
}

#logo{
	height:7em;
	width:7em;
}

.title{
	margin-top:10vh;
	text-transform: lowercase;
}

.title small{
	text-transform: lowercase;
	font-size:1em;
	font-weight: bold;
	opacity:0.5;

}

.about{
	background-color: rgba(29, 209, 161, 0.8);
	border-radius:1em;
}

.about a {
	color: black;
	font-weight: bold;
}

.about, .code{
	padding:1em;
	text-align:justify;
	margin-top:1em;
	margin-right:auto;
	margin-left:auto;
}

.code{
	font-weight: bold;
	background-color: #333;
	border-radius:2px;
}

.code span{
	color:white;
}

.code .beg{
	font-family: monospace;
	font-size:1.1em;
}

@media(min-width: 992px){
	.links, .about, .code{
		width:50%;
	}

}

.links{
	margin-top:1em;
	margin-right:auto;
	margin-left:auto;
}

.def-btn{
	width:100%;
	background-color:transparent;
	color:#F77D65;
	border: none;
	text-transform: lowercase;
	transition-duration: 0.5s;
	margin-bottom:1em;
	border-radius: 5px;
	font-weight: bold;
}

.def-btn i{
	margin-right:0.5em;
	color:#F77D65;
}

.def-btn:hover{
	background-color:#F77D65;
	color:white;
}

.def-btn:hover i{
	color:white;
}

.attr{
	text-transform: lowercase;
	opacity: 0.7;
	transition-duration: 0.5s;
	margin-bottom: 0.5em;
	font-weight: bold;
}

.attr:hover{
	opacity:1;
}
.attr i{
	color:#F77D65;
}

.attr a{
	color:#F77D65;
}

.comment {
	opacity: 0.5;
}